/*Colors and fonts */
body { 
  background: #5D737E;
  color: #5D737E; 
  font-family: 'Lora', serif;
  font-size: 16px; 
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: Copperplate Gothic Light;
}
h1 {
  color:#14213d;  
  font-size: 34px; 
  font-weight: 750;
}
h2 {
  color: orange;
  font-size: 25px; 
  font-weight: bold;
}
a {
  text-decoration: none;
  font-family: Copperplate Gothic Light;
  color:#14213d;
  font-weight: 700;
  font-size: 16px;
}
a:hover {
  color: #ffc2d1;
}

/*Custom design with class (99% of your design)*/
.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 760px) {
  .container {
  	width: 600px;
  }
}
@media (max-width: 500px) {
  .container {
  	width: 400px;
  }
}

.card-white {
  background-color: #e5e5e5;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1); 
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}
.img-circle {
  border-radius: 50%;
}
.btn-blue {
  background-color: lightblue;
  color: #14213d;
  padding: 10px 15px;
  border-radius: 4px;
}
.btn-blue:hover {
 background-color:#ffc2d1;
 color: #14213d;
}
.list-inline { 
  list-style: none;
  padding-left: 0px; 
}
.list-inline li { 
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 33px;
}
/*Design adjustments using id (1% design remaining)*/
#introduction p {
  margin-bottom: 40px;
}

